body{
    margin: 0px;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#home{
    background-color: blueviolet;
    font-size: 200%;
    color: white;
}
#intro{
    background-color: yellow;
}
#like{
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}
.container_half{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.container_title{
    width: 100%;
}

.card{
    width: 200px;
    height: 300px;
    background-color: blue;
    margin: 5px;
}
.top{
    height: 50%;
    background-color: purple;
}
.mid{
    height: 15%;
    background-color: aqua;
}
.bottom{
    height: 35%;
    background-color: brown;
}
#kein_E{
    width: 150px;
    height: 150px;
    margin: auto;
}
.footer{
    height: 10%;
}
.footer_copyright{
    margin: auto;
}
.navbar{
    background-color: gray;
    position: fixed;
    width: 100vw;
}
ul{
    display: flex;
    list-style-type: none;
    margin: 0%;
}
li{
    padding: 20px;
}